@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Outfit:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outfit-font{
  font-family:Outfit , sans-serif ;
}
.Inter-font{
  font-family:Inter , sans-serif ;
}
.primary-color{
  color: #1ABC9C;
}
.primary-background{
  background-color: #1ABC9C;
}
.hover-primary-background{
  background-color: #2ee0bc;
}
.motivation-background{
border-radius: 50px 0px 0px 50px;
background: #001D31;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.primary-background {
  
background: #001D31;
}
.orange-color{
  color: #E67E22;
}
.secondary-color{
  background-color: #1ABC9C;
  
}
.secondary-color:hover{
  background-color: #0a8f75;
}
.explor-tiltle-color{
  color: #646464;
  
}